<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
 <mapper namespace = "com.pj.erp.persistence.ST_DAO">
 	
 	<select id = "getSaleCnt" resultType="int">
 		SELECT COUNT(*) as FROM saleplan_tbl
 	</select>
 	
 	<select id="getsaleplan" resultType="com.pj.erp.vo.ST.SalePlan" parameterType="java.util.Map">
 		select * from saleplan_tbl
 	</select>
 	
 	<select id="getSaleplanArticle" resultType="com.pj.erp.vo.ST.SalePlan">
 		select s.saleplan_code, s.ef_amount, s.sp_unit, s.s_plan_start, s.s_plan_end, s.ef_price, s.sp_note, p.product_name, s.detail_ac_code
 		from saleplan_tbl s, product_list_tbl p
 		where s.detail_ac_code = p.product_code
 		and saleplan_code =#{saleplan_code}
 	</select>
 	
 	<update id="updatesalePlan" parameterType="com.pj.erp.vo.ST.SalePlan">
 		UPDATE saleplan_tbl SET ef_price=#{ef_price}, s_plan_start =#{s_plan_start}, s_plan_end=#{s_plan_end}, ef_amount=#{ef_amount}, sp_unit=#{sp_unit}, sp_note=#{sp_note}, detail_ac_code=#{detail_ac_code} WHERE saleplan_code=#{saleplan_code}
 	</update>
 	
 	<delete id="deletesalePlan" parameterType="String">
 		DELETE saleplan_tbl WHERE saleplan_code=#{saleplan_code}
 	</delete>
 	
 	<insert id="writeSalePlan" parameterType="com.pj.erp.vo.ST.SalePlan">
 		INSERT INTO saleplan_tbl(saleplan_code, ef_amount, sp_unit, s_plan_start, s_plan_end, ef_price, sp_note, detail_ac_code)
 			VALUES('sal_'||sale_plan_seq.nextval, #{ef_amount}, #{sp_unit}, #{s_plan_start}, #{s_plan_end}, #{ef_price}, #{sp_note}, #{detail_ac_code})
 	</insert>
 	
 	<select id="getSalePlanResult" parameterType = "java.util.Map" resultType = "com.pj.erp.vo.ST.SalePlan">
 		<![CDATA[
 		   select s.saleplan_code, s.ef_amount, s.sp_unit,s.s_plan_start, s.s_plan_end, s.ef_price, s.sp_note, p.product_name, p.product_code, s.detail_ac_code
           from saleplan_tbl s, product_list_tbl p
           where s.detail_ac_code = p.product_code
           and p.product_name like '%'||#{productName}||'%'
           and to_char(s.s_plan_end,'YYYY/MM/DD') like #{dateu}||'%/%'
 		]]>
 	</select>
 	
 	
 	<!-- estimate_price 견적 현황 -->
 	<insert id="estimatewritePro" parameterType="com.pj.erp.vo.ST.Estimate">
 		INSERT INTO estimate_price_tbl(ep_code, ep_amount, ep_deliver_date, ep_price, ep_reg_date, customer_code, detail_ac_code , username)
 			VALUES('ep_'||estimate_seq.nextval, #{ep_amount}, #{ep_deliver_date}, #{ep_price}, sysdate, #{customer_code}, #{detail_ac_code}, #{username})
 	</insert>
 	
 	<select id="getestimateCnt" resultType="int">
 		select COUNT(*) as FROM estimate_price_tbl
 	</select>
 	
 	<select id="getEstimateresult" parameterType = "java.util.Map" resultType="com.pj.erp.vo.ST.Estimate">
 		<![CDATA[
				select e.ep_code as ep_code, 
					 e.ep_amount as ep_amount, 
					 e.ep_deliver_date as ep_deliver_date, 
					 e.ep_price as ep_price, 
					 e.ep_reg_date as ep_reg_date, 
					 e.username as username, 
					 p.product_code as detail_ac_code, 
					 p.product_name as product_name, 
					 c.customer_name as customer_name,
					 e.ep_deliver_date as ep_deliver_date,
					 u.e_name as e_name
				 from estimate_price_tbl e, customer_list_tbl c, product_list_tbl p, users u
				 Where e.customer_code = c.customer_code
				 And e.detail_ac_code = p.product_code
				 And e.username = u.username
				and c.customer_name like '%'||#{customer_name}||'%'
				and e.username like '%'||#{username}||'%'
				and p.product_name like '%'||#{product_name}||'%'
 		]]>
 	</select>
 	
 	<select id="getestimate" resultType="com.pj.erp.vo.ST.Estimate" parameterType="java.util.Map">
 		SELECT * FROM estimate_price_tbl
 	</select>
 	
 	<select id="getEstimateArticle" resultType="com.pj.erp.vo.ST.Estimate">
 		select e.ep_code as ep_code, 
					 e.ep_amount as ep_amount, 
					 e.ep_deliver_date as ep_deliver_date, 
					 e.ep_price as ep_price, 
					 e.ep_reg_date as ep_reg_date, 
					 e.username as username, 
					 p.product_code as detail_ac_code, 
					 p.product_name as product_name, 
					 c.customer_name as customer_name,
					 c.customer_code as customer_code,
					 e.ep_deliver_date as ep_deliver_date,
					 u.e_name as e_name
				 from estimate_price_tbl e, customer_list_tbl c, product_list_tbl p, users u
				 Where e.customer_code = c.customer_code
				 And e.detail_ac_code = p.product_code
				 And e.username = u.username
				 And ep_code=#{ep_code}
 	</select>
 	
 	<update id="updateEstimate" parameterType="com.pj.erp.vo.ST.Estimate">
 		UPDATE estimate_price_tbl SET ep_amount=#{ep_amount}, ep_deliver_date=#{ep_deliver_date}, ep_price=#{ep_price},ep_reg_date=sysdate, detail_ac_code=#{detail_ac_code}, username=#{username}, customer_code=#{customer_code}  WHERE ep_code=#{ep_code}
 	</update>
 	
 	<delete id="deleteEstimate" parameterType="String">
 		DELETE estimate_price_tbl WHERE ep_code =#{ep_code}
 	</delete>
	
	<!-- release (출고) --> 
 	<select id="getReleaseCnt" resultType="int">
 		select COUNT(*) as FROM sar_list_tbl
 	</select>
 	
 	<select id="getreleaseResult" parameterType = "java.util.Map" resultType="com.pj.erp.vo.ST.Release">
 		<![CDATA[
 				select s.sar_code as sar_code, 
					 s.unit_cost as unit_cost, 
					 s.customer_code as customer_code,
					 s.stored_count as stored_count, 
					 s.release_count as release_count, 
					 s.stored_name as stored_name, 
					 s.username as username, 
					 s.stored_name as stored_name,
					 s.release_name as release_name, 
					 s.release_date as release_date,
					 s.sar_type as sar_type, 
					 p.product_code as detail_ac_code, 
					 p.product_name as product_name, 
					 c.customer_name as customer_name,
					 u.e_name as e_name
				 from sar_list_tbl s, customer_list_tbl c, product_list_tbl p, users u
				 Where s.customer_code = c.customer_code
				 And s.detail_ac_code = p.product_code
				 And s.username = u.username
				and c.customer_name like '%'||#{customer_name}||'%'
				and s.username like '%'||#{username}||'%'
				and p.product_name like '%'||#{product_name}||'%'
				and s.sar_type like '%'||#{sarTType}||'%'
 		]]>
 	</select>
 	
 	<select id="getDelaystate" parameterType = "java.util.Map" resultType="com.pj.erp.vo.ST.SaleList">
 		<![CDATA[
 			 select s.salelist_code as salelist_code, 
					 s.release_o_date as release_o_date, 
					 s.unit as unit,
					 s.amount as amount,
					 s.price as price,
					 s.username as username, 
					 s.note as note,
					 s.release_state as release_state,
					 p.product_code as detail_ac_code, 
					 p.product_name as product_name, 
					 c.customer_name as customer_name,
					 u.e_name as e_name
				 from salelist_tbl s, customer_list_tbl c, product_list_tbl p, users u
				 Where s.customer_code = c.customer_code
				 And s.detail_ac_code = p.product_code
				 And s.username = u.username
				and c.customer_name like '%'||#{customer_name}||'%'
				and p.product_name like '%'||#{productName}||'%'
				and s.release_state like '%'||#{release}||'%'
				and to_date(to_char(sysdate, 'YYYY/MM/DD')) > release_o_date
 		]]>
 	</select>
 	
 	<select id="getDelaystate2" parameterType = "java.util.Map" resultType="com.pj.erp.vo.ST.SaleList">
 		<![CDATA[
 			      select s.salelist_code as salelist_code, 
					 s.release_o_date as release_o_date, 
					 s.unit as unit,
					 s.amount as amount,
					 s.price as price,
					 s.username as username, 
					 s.note as note,
					 s.release_state as release_state,
					 p.product_code as detail_ac_code, 
					 p.product_name as product_name, 
					 c.customer_name as customer_name,
					 u.e_name as e_name,
                     a.release_date as release_date
				 from salelist_tbl s, customer_list_tbl c, product_list_tbl p, users u,  sar_list_tbl a
				 Where s.customer_code = c.customer_code
				 And s.detail_ac_code = p.product_code
				 And s.username = u.username
                and s.detail_ac_code = a.detail_ac_code
				and c.customer_name like '%'||#{customer_name}||'%'
				and p.product_name like '%'||#{productName}||'%'
				and to_date(to_char(a.release_date, 'YYYY/MM/DD')) > s.release_o_date
				and s.release_state = '1'
                and a.sar_type = '2'
 		]]>
 	</select>
 	
 	
 	<select id="getReleaseList" resultType="com.pj.erp.vo.ST.Release" parameterType="java.util.Map">
 		SELECT * FROM sar_list_tbl
 	</select>
 	
 	<select id="getReleaseArticle" resultType="com.pj.erp.vo.ST.Release">
 		select s.sar_code as sar_code, 
					 s.unit_cost as unit_cost, 
					 s.stored_count as stored_count, 
					 s.customer_code as customer_code,
					 s.release_count as release_count, 
					 s.stored_name as stored_name, 
					 s.username as username, 
					 s.stored_name as stored_name,
					 s.release_name as release_name, 
					 s.release_date as release_date,
					 s.sar_type as sar_type, 
					 p.product_code as detail_ac_code, 
					 p.product_name as product_name, 
					 c.customer_name as customer_name,
					 u.e_name as e_name
				 from sar_list_tbl s, customer_list_tbl c, product_list_tbl p, users u
				 Where s.customer_code = c.customer_code
				 And s.detail_ac_code = p.product_code
				 And s.username = u.username
				 and sar_code=#{sar_code}
 	</select>
 	
 	<select id="getrefundList" parameterType ="java.util.Map" resultType="com.pj.erp.vo.ST.Release">
 		<![CDATA[
 				select s.sar_code as sar_code, 
					 s.unit_cost as unit_cost, 
					 s.customer_code as customer_code,
					 s.stored_count as stored_count, 
					 s.release_count as release_count, 
					 s.stored_name as stored_name, 
					 s.username as username, 
					 s.stored_name as stored_name,
					 s.release_name as release_name, 
					 s.release_date as release_date,
					 s.sar_type as sar_type, 
					 p.product_code as detail_ac_code, 
					 p.product_name as product_name, 
					 c.customer_name as customer_name,
					 u.e_name as e_name
				 from sar_list_tbl s, customer_list_tbl c, product_list_tbl p, users u
				 Where s.customer_code = c.customer_code
				 And s.detail_ac_code = p.product_code
				 And s.username = u.username
				and c.customer_name like '%'||#{customer_name}||'%'
				and s.username like '%'||#{username}||'%'
				and p.product_name like '%'||#{product_name}||'%'
				and s.sar_type ='3'
 		]]>
 	</select>
 	
 	<update id="updateRelease" parameterType="com.pj.erp.vo.ST.Release">
 	 	UPDATE sar_list_tbl SET release_name=#{release_name}, release_count=#{release_count}, unit_cost=#{unit_cost}, stored_name=#{stored_name}, stored_count=#{stored_count}, sar_type=#{sar_type}, customer_code=#{customer_code}, detail_ac_code=#{detail_ac_code}, username=#{username} WHERE sar_code=#{sar_code}
 	</update>
 	
 	<delete id="deleteRelease" parameterType="String">
 		DELETE sar_list_tbl WHERE sar_code=#{sar_code}
 	</delete>
 	
 	<insert id="insertRelease" parameterType="com.pj.erp.vo.ST.Release">
 		INSERT INTO sar_list_tbl(sar_code,release_name, stored_name, unit_cost, release_count, stored_count,  release_date, detail_ac_code, sar_type, username, customer_code, salelist_code)
 			VALUES('sar_'||release_seq.nextval, #{release_name} ,#{stored_name}, #{unit_cost},#{release_count}, #{stored_count}, sysdate, #{detail_ac_code},  #{sar_type}, #{username}, #{customer_code}, #{salelist_code})
 	</insert>
 	
 	<!-- saleList -->
 	<insert id="insertsaleList" parameterType="com.pj.erp.vo.ST.SaleList">
 		INSERT INTO salelist_tbl(salelist_code, username, reg_date, release_o_date, unit, amount, price, note, detail_ac_code, customer_code, release_state)
 			VALUES('sa_' || salelist_seq.nextval, #{username}, sysdate, #{release_o_date}, #{unit}, #{amount}, #{price}, #{note}, #{detail_ac_code}, #{customer_code}, #{release_state})
 	</insert>
 	
 	<select id="getSaleListCnt" resultType="int">
 		SELECT COUNT(*) as FROM salelist_tbl
 	</select>
 	
 	<select id="getSaleList" parameterType ="java.util.Map" resultType="com.pj.erp.vo.ST.SaleList">
 		<![CDATA[
 			  select s.salelist_code as salelist_code, 
					 s.reg_date as reg_date, 
					 s.release_o_date as release_o_date, 
					 s.unit as unit,
					 s.amount as amount,
					 s.price as price,
					 s.username as username, 
					 s.note as note,
					 s.release_state as release_state,
					 p.product_code as detail_ac_code, 
					 p.product_name as product_name, 
					 c.customer_name as customer_name,
					 u.e_name as e_name
				 from salelist_tbl s, customer_list_tbl c, product_list_tbl p, users u
				 Where s.customer_code = c.customer_code
				 And s.detail_ac_code = p.product_code
				 And s.username = u.username
				and c.customer_name like '%'||#{customer_name}||'%'
				and s.username like '%'||#{username}||'%'
				and p.product_name like '%'||#{product_name}||'%'
				and s.release_state like '%'||#{release}||'%'
 		]]>
 	</select>
 	
 	<select id="getSaleListArticle" resultType="com.pj.erp.vo.ST.SaleList" parameterType="java.util.Map">
 		SELECT * FROM salelist_tbl
 	</select>
 	
 	<select id="getsaleListForm" resultType="com.pj.erp.vo.ST.SaleList">
 		select s.salelist_code as salelist_code, 
					 s.reg_date as reg_date, 
					 s.release_o_date as release_o_date, 
					 s.unit as unit,
					 s.amount as amount,
					 s.price as price,
					 s.username as username, 
					 s.customer_code as customer_code,
					 s.release_state as release_state,
					 p.product_code as detail_ac_code, 
					 p.product_name as product_name, 
					 c.customer_name as customer_name,
					 s.note as note,
					 u.e_name as e_name,
					 s.ether_salecode as ether_salecode
				 from salelist_tbl s, customer_list_tbl c, product_list_tbl p, users u
				 Where s.customer_code = c.customer_code
				 And s.detail_ac_code = p.product_code
				 And s.username = u.username and salelist_code = #{salelist_code}
 	</select>
 	
 	<update id="updateSaleList" parameterType="com.pj.erp.vo.ST.SaleList">
 		UPDATE salelist_tbl SET release_o_date=#{release_o_date}, unit=#{unit}, price=#{price}, note=#{note}, username=#{username}, customer_code=#{customer_code}, release_state =#{release_state}, detail_ac_code=#{detail_ac_code}  WHERE salelist_code=#{salelist_code}
 	</update>
 	
 	<delete id="deleteSaleList" parameterType="String">
 		DELETE salelist_tbl WHERE salelist_code = #{salelist_code}
 	</delete>
 	
 	<select id="getContrast" parameterType ="java.util.Map" resultType="com.pj.erp.vo.ST.ST_contrast">
 		   select * from ST_contrast_pp_View where sale_pname like '%'||#{productName}||'%' and sale_date like '%'||#{year}||'%/%'||#{mon}
 	</select>
 	
 	<select id="getTransaction" parameterType ="java.util.Map" resultType="com.pj.erp.vo.ST.TransactionDetails">
 		<![CDATA[
 			  	select * from ST_transaction_view 
	                       where sar_type = '2'
	                       and stored_name like '%'||#{stored_name}||'%'
	                       and release_name like '%'||#{release_name}||'%'
	                       and e_name like '%'||#{username}||'%'
	                       and kwon >= #{userdate1}
	                       and kwon <= #{userdate2}
 		]]>
 	</select>
 	
 	<select id="getTaxList" parameterType ="java.util.Map" resultType="com.pj.erp.vo.ST.TaxDetails">
 		<![CDATA[
 			  	 select * from ST_tax_view
                      where sar_type = '2'
                      and stored_name like '%'||#{stored_name}||'%'
                      and e_name like '%'||#{username}||'%'
                      and release_date >= #{userdate1}
                      and release_date <= #{userdate2}
 		]]>
 	</select>
 	
 	<!-- Product 검색 -->
	<select id="selectProduct" resultType="int" parameterType="String" >
		select COUNT(*) from product_list_tbl where product_name like '%'||#{product_name}||'%'
	</select>

	<!-- 검색 목록 가져오기 -->
	<select id="getProductList" resultType="com.pj.erp.vo.ST.ProductList" parameterType="String">
		select product_code, bom_code, product_name from product_list_tbl where product_name like '%'||#{product_name}||'%'
	</select> 	
	
	<!-- Customer 검색 -->
	<select id="selectCustomer" resultType="int" parameterType="String">
		SELECT COUNT(*) FROM customer_list_tbl WHERE customer_name like '%'||#{customer_name}||'%'
	</select>
	
	<!-- 검색 목록 가져오기 -->
	<select id="getCustomerList" resultType="com.pj.erp.vo.ST.CustomerList" parameterType="String">
		select customer_code, license_number, customer_name, branch_name, customer_credit, deal_state from customer_list_tbl where customer_name like '%'||#{customer_name}||'%'
	</select>
	
	<!-- 매출 고객 목록 -->
	<select id="getTotalSales" resultType="com.pj.erp.vo.ST.ST_searchCustomerCode" parameterType="java.util.Map">
		select * from st_salesstatus_cus_view where customer_code like '%'||#{customer_code}||'%'
	</select>
	
	<!-- 매출 품목 목록 -->
	<select id="getProCode" resultType="com.pj.erp.vo.ST.ST_searchProductCode" parameterType="java.util.Map">
		select * from st_salesstatus_pro_view where product_code like '%'||#{product_code}||'%'
	</select>
	
	<!-- 매출 담당자 목록 -->
	<select id="getUsername" resultType="com.pj.erp.vo.ST.ST_searchUsername" parameterType="java.util.Map">
		select * from st_salesstatus_user_view where e_name like '%'||#{e_name}||'%'
	</select>
	
	<!-- 매출 부서 목록 -->
	<select id="getDepartmentCode" resultType="com.pj.erp.vo.ST.ST_searchDepartmentCode" parameterType="java.util.Map">
		select * from st_salesstatus_dep_view where department_code like '%'||#{department_code}||'%'
	</select>
	
	<!-- 사원 검색 -->
	<select id="selectName" resultType="int" parameterType="String">
		select COUNT(*) from users where e_name like '%'||#{e_name}||'%'
	</select>
	
	<!-- 팝업창 사원검색 목록  -->
	<select id="getUsernameList" resultType="com.pj.erp.vo.ST.UserName" parameterType="String">
		select username, e_name from users where e_name like '%'||#{e_name}||'%'
	</select>
	
	<!-- 팝업창 부서검색목록 유무 -->
	<select id="selectDepName" resultType="int" parameterType="String">
		select COUNT(*) from department_tbl where department_name like '%'||#{department_name}||'%'
	</select>
	
	<!-- 팝업창 부서검색 목록조회 -->
	<select id="getDepartmentList" resultType="com.pj.erp.vo.ST.ST_department" parameterType="String">
		select department_name,department_code from department_tbl where department_name like '%'||#{department_name}||'%'
	</select>
	
	<!-- 팝업창 판매 리스트 조회 -->
	<select id="selectSale" resultType="int" parameterType="String">
		        select COUNT(*)
                 from salelist_tbl s, customer_list_tbl c 
                 where s.customer_code = c.customer_code
                 and c.customer_name like '%'||#{customer_name}||'%'
	</select>
	
	<!-- 팝업창 판매 리스트 -->
	<select id="selectSaleList" parameterType="String" resultType="com.pj.erp.vo.ST.SaleList">
		        select s.salelist_code as salelist_code,
                            c.customer_name as customer_name,
                            p.product_name as product_name,
                            s.release_o_date as release_o_date, 
                            s.price as price,
                            s.amount as amount,
                            s.price as price,
                            s.amount as amount,
                            p.product_code as detail_ac_code,
                            p.product_name as product_name,
                            c.customer_code as customer_code
                        from salelist_tbl s, customer_list_tbl c,product_list_tbl p
                        where s.customer_code = c.customer_code
                        and s.detail_ac_code = p.product_code
                        and release_state = '2'
                        and c.customer_name like '%'||#{customer_name}||'%'
	</select>
	
 </mapper>